<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>240641082360-argta5k8ns3jk9e604uir8i0uc1c83fh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240641082360-argta5k8ns3jk9e604uir8i0uc1c83fh</string>
	<key>API_KEY</key>
	<string>AIzaSyDhjlZg_jNi8QXUDQWY39tz7mpTeOlMySQ</string>
	<key>GCM_SENDER_ID</key>
	<string>240641082360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baby.DesignLenses</string>
	<key>PROJECT_ID</key>
	<string>designlenses-5acad</string>
	<key>STORAGE_BUCKET</key>
	<string>designlenses-5acad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240641082360:ios:f7551c85ab5664ab</string>
	<key>DATABASE_URL</key>
	<string>https://designlenses-5acad.firebaseio.com</string>
</dict>
</plist>